<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width" />
    <title>Usuario</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Usuarios</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" asp-controller="usuario" asp-action="buscar">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="nome">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Buscar" />
            </form>
        </div>
    </nav>

    <div class="container">

        <!-- <div class="mx-auto" style="width: 1000px;"> -->

        <h2>Lista de Usuarios</h2>

        <div align="right" style="margin: 15px">
            <a type="button" class="btn btn-primary" asp-controller="usuario" asp-action="Add">Adicionar</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Nivel</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var usuario in ViewBag.usuario)
                {

                    <tr>
                        <th scope="row">@usuario.id</th>
                        <td>@usuario.nome</td>
                        <td>@usuario.usuario</td>
                        <td>@usuario.senha</td>
                        <td>
                            @if (@usuario.ativo == "false")
                            {
                                <text>Não</text>
                            }
                            else
                            {
                                <text>Sim</text>
                            }
                        </td>
                        <td>@usuario.nivel</td>
                        <td>
                            <a type="button" class="btn btn-info" asp-controller="usuario" asp-route-id="@usuario.id" asp-action="edit">Editar</a>
                            <a type="button" class="btn btn-danger" asp-controller="usuario" asp-route-id="@usuario.id" asp-action="delete" onclick="return confirm('Deseja excluir o registro?')">Deletar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

</body>
</html>
